.listedShow{
  cursor: pointer;
  border-radius: 10px;

  .showContainer{
      display: flex;
      flex-direction: column;
      height: 350px;
      
      .imgContainer{
        width: 100%;
        height: 80%;

        img{
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }
      }

      .showName{
        color:white;
        font-size: 20px;

      }
  }
}